/* advanced-views:tailwind */

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex
}

.max-w-sm {
  max-width: 24rem
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(20 75 106 / var(--tw-bg-opacity))
}

.p-6 {
  padding: 1.5rem
}